.parentInfoItem {
  margin-top: 20px;
  height: 77px;
}

.divItemParent {
  overflow: hidden;
  position: relative;
  display: table;
}

.divItemLeft {
  display: table-cell;
}

.divItemRight {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-left: 16px;
  width: 100%;
  height: 77px;
  border-bottom: 1px solid #E8E8E8;
}

.imageItem {
  border-radius: 8px;
}

.minutesTxt {
  float: right;
  padding-right: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #BDBDBD;
}

p {
  margin: 0;
}

.headerRight {
  width: 100%;
  position: absolute;
  top: 0;
}
.headerTxt {
  font-size: 16px;
  font-weight: 600;
  line-height: 16.94px;
}

.contentTxt {
  position: absolute;
  top: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}
