//.labelControl {
//  width: 343px;
//}
.inputControl {
  width: 303px;
  border: none;
  height: 50px;
  //text-indent:20px;
  padding: 0 20px;
  background-color: #F6F6F6;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
}
.divInput {
  height: 52px;
  background-color: #F6F6F6;
  margin-bottom: 17px;
  border-radius: 8px;
}
